/* web page boddy */
body{
	margin:0;
	padding:0;
	background-size: cover;
	height:500px;
	background-color: #5625;
}


/*Header section*/
.head{
	width: 100%;
	display: block;
    padding: 0;
    margin: auto;
	background-image: url('../image/Header/header.jpg');
	
}
header{
	display: block;
    margin: auto;
    padding: 4px;
    text-align: center;
	height:270px;
}
header h1{
	color:white;
	font-size:72px;
	font-family:arial;
	height: 45px;
}
header h2{
	color: white;
    font-size: 30px;
    font-family:arial;
}
/*Register and login button*/

.button{
	width:100%;
	text-align:right;
	padding-top:13px;
}
.button1 {
	background-color:#333;
	padding:10px;
	font-size:16px;
	margin:0;
	text-align:center;
	border-radius:6px;
	cursor:pointer;
	padding-left:22px;
	padding-right:30px;
	color:white;
}

.button1:hover{
	background-color:#a3ada5;
}

/*Navigation bar*/
.menu{
	width:100%;
	background-color:#333;
	height:60px;
	padding:0;
	margin:0;
	font-size:15px;
	font-family:arial;
}
ul.menu{
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li.menu{
	float:left;
	text-align:center;
	width:13%;
}
li a{
	color:white;
	display:block;
	text-align:center;
	padding:20px 16px;
	text-decoration:none;
}
li a:hover{
	background-color:#a3ada5;
}
li a:active {
	background-color:#a3ada5;
}



.column1 {
  float: left;
  width: 20%;
  padding: 60px;
}

/* Clear floats after image containers */
.rows1::after {
  content: "";
  clear: both;
  display: table;
}

.container1 {
  position: relative;
  width: 400px;
}

/* Make the image responsive */
.container1 img {
  width: 350px;
  height: 200px;
}

/* Style the button and place it in the middle of the container/image */
 .container1 .button { 
   position: absolute; 
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   background-color: green;
   color: white; 
   font-size: 16px; 
   padding: 12px 24px; 
   border: none; 
   cursor: pointer; 
   border-radius: 5px; 
 } 

 .container1 .btn:hover { 
   background-color:black; 
 } 

.column2 {
  float: left;
  width: 20%;
  padding: 60px;
}

/* Clear floats after image containers */
.rows2::after {
  content: "";
  clear: both;
  display: table;
}

.container2 {
  position: relative;
  width: 400px;
}

/* Make the image responsive */
.container2 img {
  width: 350px;
  height: 200px;
}



.column3 {
  float: left;
  width: 20%;
  padding: 60px;
}

/* Clear floats after image containers */
.rows3::after {
  content: "";
  clear: both;
  display: table;
}

.container3 {
  position: relative;
  width: 400px;
}

/* Make the image responsive */
.container3 img {
  width: 350px;
  height: 200px;
}


.column4 {
  float: left;
  width: 20%;
  padding: 60px;
}

/* Clear floats after image containers */
.rows4::after {
  content: "";
  clear: both;
  display: table;
}

.container4 {
  position: relative;
  width: 400px;
}

/* Make the image responsive */
.container4 img {
  width: 350px;
  height: 200px;
}





.slide{
	padding-left:55px;
	/* padding-top:65px; */
	margin-bottom: 55px;
	margin:auto;
	padding-right:55px;
	box-sizing:border-box;
	box-shadow:5px 5px 10px gray;
}

.Butt1{
	background-color: green;
	color: white;
}

.Butt2{
	background-color: green;
	color: white;
}

.Butt3{
	background-color: green;
	color: white;
}

.Butt4{
	background-color: green;
	color: white;
}


/*footer*/
.footer{
	background-color:#323A45;
	height:60%;
	width:100%;
	padding-bottom:0;
	padding-top:10px;
	margin-top:10px;
	text-align:center;
	color:white;
	border-top:3px solid darkgray;
	position:absolute;
	display:flex;
}

.About{
	float:left;
	color:white;
	text-align:left;
	padding-left:50px;
	font-family:arial
}
.open {
	float:left;
	color:white;
	text-align:left;
	padding-left:50px;
	padding-right:50px;
	font-family:arial;
}
.link{
	float:left;
	color:white;
	text-align:left;
	padding-left:50px;
	padding-right:50px;
	font-family:arial;
	width:20%;
}
.contact{
	float:left;
	color:white;
	text-align:left;
	padding-left:50px;
	padding-right:50px;
	font-family:arial;
	width:25%
}
a.link{
	float:left;
	color:white;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:6px;
	width:94%;
}
 a:hover{
	background-color:#a3ada5;
}
.map{
float:left;
padding-left:50px;
padding-right:50px;
}

/*footer bottom*/
.footer-bottom{
	background:#343a40;
	color:#292F38;
	line-height:15px;
	width:100%;
	bottom:0px;
	left:0px;
	padding-top:20px;
	position:absolute;
	border-top:1px solid gray;
	padding-bottom:10px;
}
.payment{
	float:left;
	padding-left:40px;
	padding-top:10px;
}
.img{
	width:40px; 
	height:30px
}
.row{
	width:100%;
	
}

.social{
	margin:20px 0 0 0;
	float:right;
	padding-right:40px;
}
.social a{
	padding:0 2px;
}
.social a i{
	height:40px;
	width:40px;
	background:#a9a9a9;
	text-align:center;
	font-size:18px;
	border-radius:5px;
	line-height:40px;
	color:black;
}
.social a i:hover{
	background:#aa2429;
}
.column {
  float: left;
  width: 33.33%;
  padding: 60px;
}

/* Clear floats after image containers */
.rows::after {
  content: "";
  clear: both;
  display: table;
}

.intro {
font-weight: bold;
}




.container {
  position: relative;
  width: 400px;
}

/* Make the image responsive */
.container img {
  width: 400px;
  height: 300px;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color:black;
}



